/*CatalogoRecetas.php*/

/* Títulos */
h1 {
    text-align: center;
    color: #E74D4E;
    padding: 20px;
    background-color: #FFEFE9;
}

/* Buscador general */
.Buscador {
    background-color: #FFEFE9;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

.Buscador_recetas {
    width: 100%;
    padding: 12px 20px;
    border-radius: 25px;
    border: 1px solid #ec1e1e;
    font-size: 16px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    transition: .3s;
}

.Buscador_recetas:focus {
    border-color: #E74D4E;
    box-shadow: 0 0 8px rgba(231, 77, 78, 0.3);
}

/* Contenedores principales */
.Mostrar,
.Etiquetas #formCrearReceta {
    padding: 20px 0;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    text-align: center;
}

/* Formulario principal */
.formRecetas {
    background: #fff;
    max-width: 700px;
    margin: 30px auto;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.formRecetas h2 {
    text-align: center;
    color: #e51515;
    font-size: 32px;
    margin: 0;
}

/* Select */
.Mostrar select {
    background: #F5F1ED;
    width: 200px;
    padding: 8px;
    border-radius: 12px;
    border: 1px solid #e2cfcf;
}

/* Checkboxes */
#Categoria {
    display: grid;
    grid-template-columns: repeat(4, auto);
    gap: 10px 20px;
    padding: 10px;
}

#Categoria label {
    display: flex;
    align-items: center;
    gap: 6px;
    cursor: pointer;
    font-size: 16px;
}

/* Botones de categoría */
.botonCategoria {
    padding: 12px 25px;
    border-radius: 30px;
    border: none;
    background: #ffddc7;
    font-weight: bold;
    cursor: pointer;
}

.botonCategoria:hover {
    background: #ffc0c0;
}

/* Imagen + texto */
.contenedorCategoria {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    border-radius: 15px;
    background-color: #ffd0af;
}

.contenedorCategoria img {
    width: 35px;
    border-radius: 15px;
    transition: .2s;
}

.contenedorCategoria img:hover {
    transform: scale(1.1);
}

.contenedorCategoria p {
    font-size: 20px;
    font-weight: bold;
    margin: 0;
}

/* Botones generales */
.botonesBuscador {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.botonesBuscador button {
    padding: 12px 25px;
    border-radius: 25px;
    border: none;
    font-size: 16px;
    cursor: pointer;
    font-weight: bold;
    background: rgb(246, 131, 131);
    transition: .3s;
}

.botonesBuscador button:hover {
    transform: translateY(-3px);
    background: rgb(221, 239, 203);
}